<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <title>App Isolation +</title>
    <type>application</type> 
    <version>1.0</version>
    <logo>logo.png</logo>
    <description>this module manage the iso +.</description>
    <author>F.Mallet</author>
  <dependencies>        
        <module>app_domoprime</module>          
    </dependencies>
</module> 